* {
  box-sizing: border-box;
}

body {
  background-color: #121214;
  color: #e1e1f6;
  height: 100%;
}

button {
  height: 32px;
  width: 190px;
  background-color: #8257e6;
  border: 0;
  border-radius: 5px;
  padding: 6px 12px;
  color: #fff;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #5b478c;
  color: fff;
}

.btnMetaMask {
  background-color: #e1e1f6;
  color: #121214;
}

.btnMetaMask:hover {
  background-color: #bfbfd1;
  color: fff;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}